In [1]:
from google.colab import drive
drive.mount('/content/drive')

# cd to correct directory (the one containing this notebook)
%cd /content/drive/My\ Drive/4-2/COMP3311/A4

import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/4-2/COMP3311/A4

In [2]:
tv_df = pd.read_csv('./tv.csv')
movie_df = pd.read_csv('./movie.csv')

# note dateOfRelease in both TV and Movie is now release_year
tv_df = tv_df[['videoId', 'EpisodeNo','SeasonNo', 'Runtime','release_year', 'title', 'description', 'classfication']] # no need code since not specified in A3 sol
#tv_df['code'] = tv_df['videoId'].str[1:5] # since in the form sXXXXYYY where X = code, Y = total episode no
tv_df['release_year'] = tv_df['release_year'].astype(str) + '-01-01'
tv_df['Runtime_a'] = tv_df['Runtime'].str.index(' min') # get index at where substring ' min' starts.
# remove everything at or after the index computed from the previous row. lambda s with axis=1 takes s[0]=Runtime, s[1]=Runtime_a and tells us to apply slice function row-wise 
tv_df['Runtime'] = tv_df[['Runtime', 'Runtime_a']].apply(lambda s: s[0][:s[1]], axis=1).astype(int)

movie_df = movie_df[['videoId', 'sequel', 'Runtime','release_year', 'title', 'description', 'classfication']] 
movie_df['release_year'] = movie_df['release_year'].astype(str) + '-01-01'
movie_df['Runtime_a'] = movie_df['Runtime'].str.index(' min')
movie_df['Runtime'] = movie_df[['Runtime', 'Runtime_a']].apply(lambda s: s[0][:s[1]], axis=1).astype(int)

video_df = pd.concat([tv_df[['videoId', 'title', 'description', 'classfication']],
                      movie_df[['videoId', 'title', 'description', 'classfication']]])

tv_df.rename(columns={"release_year": "dateOfRelease", 'Runtime': 'runtime', 'EpisodeNo': 'episodeNo', 
                      'SeasonNo': 'seasonNo'}, inplace=True)
movie_df.rename(columns={"release_year": "dateOfRelease", 'Runtime': 'runtime'}, inplace=True)

tv_df = tv_df[['videoId', 'episodeNo','seasonNo', 'runtime','dateOfRelease']]
movie_df = movie_df[['videoId', 'sequel', 'runtime','dateOfRelease']] 

tv_df

     videoId  episodeNo  seasonNo  runtime dateOfRelease
0   s1054001          0         0       30    2011-01-01
1   s1054002          1         0       30    2011-01-01
2   s1054003          2         0       30    2011-01-01
3   s1054004          3         0       30    2011-01-01
4   s1054005          4         0       30    2011-01-01
5   s1054006          0         1       30    2011-01-01
6   s1054007          1         1       30    2011-01-01
7   s1054008          2         1       30    2011-01-01
8   s1054009          3         1       30    2011-01-01
9   s1054010          4         1       30    2011-01-01
10  s1054011          0         2       30    2011-01-01
11  s1054012          1         2       30    2011-01-01
12  s1054013          2         2       30    2011-01-01
13  s1054014          3         2       30    2011-01-01
14  s1054015          4         2       30    2011-01-01
15  s1054016          0         3       30    2011-01-01
16  s1054017          1         3       30    2011-01-01
17  s1054018          2         3       30    2011-01-01
18  s1054019          3         3       30    2011-01-01
19  s1054020          4         3       30    2011-01-01
20  s1055001          0         0       30    2014-01-01
21  s1055002          1         0       30    2014-01-01
22  s1055003          2         0       30    2014-01-01
23  s1055004          3         0       30    2014-01-01
24  s1055005          4         0       30    2014-01-01
25  s1055006          0         1       30    2014-01-01
26  s1055007          1         1       30    2014-01-01
27  s1055008          2         1       30    2014-01-01
28  s1055009          3         1       30    2014-01-01
29  s1055010          4         1       30    2014-01-01

In [3]:
movie_df.fillna(value='')

,videoId,sequel,runtime,dateOfRelease
0,s1039,"Marvel Studios' Avengers: Infinity War, Marvel...",143,2015-01-01
1,s1040,,183,2019-01-01
2,s1041,,150,2016-01-01
3,s1042,Marvel Studios' Captain America: The Winter So...,126,2011-01-01
4,s1043,Marvel Studios' Captain America: Civil War,138,2014-01-01
5,s1044,,126,2019-01-01
6,s1045,,116,2016-01-01
7,s1046,Marvel Studios' Guardians of the Galaxy Vol. 2,122,2014-01-01
8,s1047,,137,2017-01-01
9,s1048,"Marvel Studios' Iron Man 2, Marvel Studios' Ir...",127,2008-01-01
10,s1049,Marvel Studios' Iron Man 3,125,2010-01-01
11,s1050,,132,2013-01-01
12,s1051,"Marvel Studios' Avengers: Age of Ultron, Marve...",145,2012-01-01
13,s1052,"Marvel Studios' Thor: The Dark World, Marvel S...",116,2011-01-01
14,s1053,Marvel Studios' Thor: Ragnarok,114,2013-01-01
15,s1035,,80,2018-01-01
16,s1036,Marvel Studios: Expanding the Universe,43,2014-01-01
17,s1038,,119,2015-01-01
18,s492,Marvel Studios' Avengers: Endgame,152,2018-01-01
19,s610,,137,2018-01-01
20,s686,,132,2017-01-01

In [4]:
video_df

,videoId,title,description,classfication
0,s1054001,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
1,s1054002,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
2,s1054003,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
3,s1054004,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
4,s1054005,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
5,s1054006,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
6,s1054007,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
7,s1054008,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
8,s1054009,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
9,s1054010,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
10,s1054011,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
11,s1054012,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
12,s1054013,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
13,s1054014,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
14,s1054015,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
15,s1054016,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
16,s1054017,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
17,s1054018,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
18,s1054019,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
19,s1054020,Marvel Ultimate Spider-Man,Spider-Man trains alongside four fellow teenag...,TV-Y7
20,s1055001,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
21,s1055002,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
22,s1055003,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
23,s1055004,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
24,s1055005,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
25,s1055006,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
26,s1055007,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
27,s1055008,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
28,s1055009,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
29,s1055010,Marvel's Agent Carter,"Working for SSR, Peggy would rather be in the ...",TV-14
0,s1039,Marvel Studios' Avengers: Age of Ultron,Tony Stark unwittingly creates an A.I. monster...,PG-13
1,s1040,Marvel Studios' Avengers: Endgame,"The epic finale to the Infinity Saga, this dra...",PG-13
2,s1041,Marvel Studios' Captain America: Civil War,"Captain America and Iron Man clash, causing th...",PG-13
3,s1042,Marvel Studios' Captain America: The First Ave...,A top-secret research project turns Steve Roge...,PG-13
4,s1043,Marvel Studios' Captain America: The Winter So...,Captain America and Black Widow join forces ag...,PG-13
5,s1044,Marvel Studios' Captain Marvel,Marvel Studios' Captain Marvel launches the MC...,PG-13
6,s1045,Marvel Studios' Doctor Strange,A famous surgeon battles unseen forces bent on...,PG-13
7,s1046,Marvel Studios' Guardians of the Galaxy,A group of misfit heroes become the object of ...,PG-13
8,s1047,Marvel Studios' Guardians of the Galaxy Vol. 2,The Guardians fight to keep their newfound fam...,PG-13
9,s1048,Marvel Studios' Iron Man,Jet-setting industrialist Tony Stark vows to p...,PG-13
10,s1049,Marvel Studios' Iron Man 2,Inventor Tony Stark forges new alliances to co...,PG-13
11,s1050,Marvel Studios' Iron Man 3,"His personal world destroyed, Tony Stark embar...",PG-13
12,s1051,Marvel Studios' The Avengers,Nick Fury recruits a team of heroes to battle ...,PG-13
13,s1052,Marvel Studios' Thor,"Thor, Asgard's greatest hero, reignites an anc...",PG-13
14,s1053,Marvel Studios' Thor: The Dark World,Thor must set out on his most dangerous and pe...,PG-13
15,s1035,Marvel Rising: Secret Warriors,Marvel's young powered heroes join forces to p...,TV-Y7-FV
16,s1036,Marvel Studios: Assembling A Universe,An exclusive look inside the world of Marvel S...,TV-PG
17,s1038,Marvel Studios' Ant-Man,Scott Lang and Dr. Hank Pym plan a heist that ...,PG-13
18,s492,Marvel Studios' Avengers: Infinity War,The Avengers must be willing to sacrifice all ...,PG-13
19,s610,Marvel Studios' Black Panther,Thalla battles a powerful foe when his homelan...,PG-13
20,s686,Marvel Studios' Thor: Ragnarok,Thor races against time to ensure that Asgard ...,PG-13

In [5]:
acts_df = pd.read_csv('./acts.csv')
acts_df = acts_df[['show_id', 'cast_id', 'role']]
acts_df.rename(columns={"show_id": "videoId", "cast_id": 'castId'}, inplace=True)
acts_df

      videoId  castId  role
0       s1039       0  acts
1       s1039       1  acts
2       s1039       2  acts
3       s1039       3  acts
4       s1039       4  acts
..        ...     ...   ...
165  s1055006      31  acts
166  s1055007      31  acts
167  s1055008      31  acts
168  s1055009      31  acts
169  s1055010      31  acts

[170 rows x 3 columns]

In [6]:
cast_df = pd.read_csv('./acts.csv')
cast_df = cast_df[['cast_id', 'cast_name']].drop_duplicates()
cast_df.rename(columns={"cast_id": "castId", "cast_name": 'castName'}, inplace=True)
cast_df

     castId              castName
0         0     Robert Downey Jr.
1         1       Chris Hemsworth
2         2          Mark Ruffalo
3         3           Chris Evans
4         4    Scarlett Johansson
5         5         Jeremy Renner
15        6        Sebastian Stan
17        7           Tommy Jones
18        8          Hugo Weaving
23        9           Brie Larson
24       10        Samuel Jackson
25       11        Ben Mendelsohn
26       12  Benedict Cumberbatch
27       13      Chiwetel Ejiofor
28       14        Rachel McAdams
29       15           Chris Pratt
30       16         Dave Bautista
31       17            Vin Diesel
33       18        Bradley Cooper
36       19       Terrence Howard
37       20          Jeff Bridges
39       21       Gwyneth Paltrow
40       22           Don Cheadle
52       23       Natalie Portman
53       24        Tom Hiddleston
54       25       Anthony Hopkins
59       46             Dee Baker
60       47          Chloe Bennet
61       48      Kathreen Khavari
62       49           Jeff McNeil
63       50           Meghan Leon
64       51       Jason Hillhouse
65       52             Paul Rudd
66       53      Evangeline Lilly
67       54           Corey Stoll
74       55      Chadwick Boseman
75       56        Michael Jordan
76       57        Lupita Nyong'o
79       58        Cate Blanchett
80       26            Drake Bell
100      27           Chi McBride
120      28          Steven Weber
140      29         Hayley Atwell
150      30          James D'Arcy
160      31           Chad Murray

In [7]:
tv_df.to_csv("./data/tv.csv", index=False)
movie_df.to_csv("./data/movie.csv", index=False)
video_df.to_csv("./data/video.csv", index=False)
cast_df.to_csv("./data/cast_member.csv", index=False)
acts_df.to_csv("./data/acts.csv", index=False)